// Media queries

@mixin media($size) {
  @if $size == 'x-small' {
    @media only screen and (max-width: 500px) { @content; }
  } @else if $size == 'small' {
    @media only screen and (max-width: 650px) { @content; }
  } @else if $size == 'medium' {
    @media only screen and (max-width: 800px) { @content; }
  } @else if $size == 'large' {
    @media only screen and (px) { @content; }
  } @else {
    @media only screen and (max-width: $size) { @content; }
  }
}

// Global Styling

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.margins {
  margin: 4vh 4vw;
}

section {
  margin-bottom: 5rem;

  @include media(x-small) {
    margin-bottom: 2.8rem;
  }
}

h1 {
  font-size: 6rem;
  margin-bottom: 1.625rem;

  @include media(x-small) {
    font-size: 3.8rem;
    margin-bottom: 1.625rem;
  }

}

h2 {
  font-size: 2rem;
}

a {
  color: blue;
  text-decoration: none;

  &:visited {
    color: purple;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  
    @include media(x-small) {
      // text-decoration: none;
    }
  }

  :active {
    @include media(x-small) {
      color: red;
    }
  }

}

// Dropdown Links

.active {
  color: blue;
  text-decoration: none;
}

.rotate {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  display: inline-block;
}

// Optimized for Mobile

.desktop {
  @include media(x-small) {
    display: none;
  }
}

.mobile {
  display: none;

  @include media(x-small) {
    display: block;
  }
}

