// Media query

@mixin media($size) {
  @if $size == 'x-small' {
    @media only screen and (max-width: 500px) { @content; }
  } @else if $size == 'small' {
    @media only screen and (max-width: 650px) { @content; }
  } @else if $size == 'medium' {
    @media only screen and (max-width: 800px) { @content; }
  } @else if $size == 'large' {
    @media only screen and (px) { @content; }
  } @else {
    @media only screen and (max-width: $size) { @content; }
  }
}

// Global Styling

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1.625rem;

  @include media(x-small) {
    font-size: 3.8rem;
    margin-bottom: 1.625rem;
  }

}

h2 {
  font-size: 2rem;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;

  @include media(x-small) {
    // text-decoration: none;
  }
}

a:focus {
  color: pink;
}

a:active {
  @include media(x-small) {
    color: red;
  }
}

section {
  margin-bottom: 5rem;

  @include media(x-small) {
    margin-bottom: 2.8rem;
  }
}

.margins {
  margin: 4vh 4vw;
}

a.title {
  color: black;
  cursor: pointer;
  text-decoration: none
}

.active {
  color: blue;
  text-decoration: underline;
}

.rotate {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  display: inline-block;
}

.responsive-embed {
    height: "60vh";    
    width: "60vw";
}